spring:
  application:
    name: 'Core case data client'
  main:
    allow-bean-definition-overriding: true



idam:
  s2s-auth:
    totp_secret: 'AAAAAAAAAAAAAAAA'
    microservice: 'ccd_gateway'
    url: 'http://localhost:4552'
  api:
    url: 'http://localhost:5000'
  client:
    redirect_uri: 'http://localhost:3451/oauth2redirect'
    id: 'ccd_gateway'
    secret: '12345678'

core_case_data:
  api:
    url: 'http://localhost:4452'

feign:
  httpclient:
    enabled: true
  client:
    config:
      default:
        loggerLevel: 'full'